{% extends "projects/base.html" %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        <div class="card mb-3">
            <div class="card-header ">
                <h4 class="mb-0"> {{post.title}} </h4>
                <small>
                    {{ post.created_on.date }} |&nbsp;
                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                    <a href="{% url 'blogs:blog_category' category.name %}" >
                        {{ category.name }}
                    </a>&nbsp;
                    {% endfor %}
                </small>
            </div>

            <div class="card-body">

                <p> {{post.body | linebreaks}} </p>
            </div>
        </div>
        <h3> Leave a comment: </h3>
        <form action="{% url 'blogs:blog_detail' post.id %}" method='post' class="mb-3" >
            {% csrf_token %}
            <p>{{ form.author }}</p>
            <p>{{ form.body }}</p>
            <input class="btn btn-primary" type="submit" value="Submit" >
        </form>
        <h3>Comments:</h3>
        {% for comment in comments %}
        <p>
            on {{ comment.created_on.date }}&nbsp;
            <b> {{comment.author}} </b> wrote:
        </p>
        <p> {{ comment.body }} </p>
    {% endfor %}
    </div>
{% endblock content %}