{% extends "projects/base.html" %}

{% block content %}

    <h1> {{post.title}} </h1>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
            <a href="{% url 'blogs:blog_category' category.name %}" >
                {{ category.name }}
            </a>&nbsp;
        {% endfor %}
    </small>

    <p> {{post.body | linebreaks}} </p>
    <h3> Leave a comment: </h3>
    <form action="{% url 'blogs:blog_detail' post.id %}" method='post' >
        {% csrf_token %}
        <p>{{ form.author }}</p>
        <p>{{ form.body }}</p>
        <input class="btn btn-primary" type="submit" value="Submit" >

    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
            on {{ comment.created_on.date }}&nbsp;
            <b> {{comment.author}} </b> wrote:
        </p>
        <p> {{ comment.body }} </p>
    {% endfor %}
{% endblock content %}